# --- Laufzeitabhängigkeiten ---------------------------------
PySide6>=6.9.0,<6.10        # 6.9.x unterstützt 3.13
PySide6-addons>=6.9.0,<6.10
PySide6-essentials>=6.9.0,<6.10
PyOpenGL==3.1.7
numpy>=1.28.0               # erste Wheels für 3.13
reportlab==4.0.8
Pillow>=10.0.0
pygame>=2.5.0
